////////////
// COLORS //
////////////
@dark-blue:		#003354; // rgba(0,51,84,1)
@imx-green:		#06B002; // rgba(6,176,2,1)
@imx-blue:		#006CB2; // rgba(0,108,178,1)
@imx-orange:	#F26101; // rgba(242,97,1,1)
@imx-white: 	#fafafa; // rgba(250,250,250,1)
@imx-black: 	#010101;


///////////
// Fonts //
///////////
// font-family: 'Lato', sans-serif;
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

// font-family: 'Josefin Slab', serif;
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,400italic,700,700italic);

////////////////////
// General Styles //
////////////////////
body {
	background-color: darken(@imx-white, 20%);
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Josefin Slab', serif;
	font-weight: bold;
}

a {
	color: @imx-blue;
	&:hover, &:focus, &:active {
		color: darken(@imx-blue, 30%);
	}
}

.spacer50 {
	margin-top: 50px;
	margin-bottom: 50px;
}

.top50 {
	padding-top: 50px;
}
.top25 {
	padding-top: 25px;
}

.main-title {
	font-size: 400%;
}

.navbar-imx-main {
	.BoxShadowHelper(1);
	opacity: 0;
	background-color: @imx-white;
	border-radius: 0;
	margin-bottom: 0;
	.navbar-brand {
		padding-top: 0;
		padding-bottom: 0;
	}
	.img-responsive-brand {
		height: auto;
		max-height: 100%;
	}
}

.black-box, .colored-box {
	background-color: darken(@imx-white, 20%);
	padding: 50px 10px;
	margin-bottom: 20px;
	overflow: hidden;
	position: relative;
	text-align: center;
	border-radius: 0;
	min-height: 150px;
	.BoxShadowHelper(2);
	a {
		text-decoration: none;
		&:hover, &:focus, &:active {
			text-decoration: none;
			cursor: pointer;
		}
	}
	 &:hover, &:focus {
	 .BoxShadowHelper(3);
	 transform: translateY(-5px);
	 }
}

.btn-rippled, .btn-rippled-green, .btn-rippled-blue, .btn-rippled-orange, .btn-rippled-white {
	position: relative;
	line-height: 20px;
	text-align: center;
}


.box-negocios {
	background-color: fade(@imx-black, 70%);
	&:hover {
		background-color: @imx-green;
	}
	position: relative;
	&:after {
		content: '';
    display: block;
    position: absolute;
		background: url('../img/codeimg.jpg') no-repeat;
		background-size: cover;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		opacity: 0.3;
	}
	.btn-rippled-green {
		color: @imx-white;
		font-size: x-large;
		font-weight: bolder;
		text-align: center;
		z-index: 1;
		text-shadow: 2px 2px 2px @imx-black;
	}
}

.box-web {
	background-color: fade(@imx-black, 70%);
	&:hover {
		background-color: @imx-blue;
	}
	position: relative;
	&:after {
		content: '';
    display: block;
    position: absolute;
		background: url('../img/codeimg.jpg') no-repeat;
		background-size: cover;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		opacity: 0.3;
	}
	.btn-rippled-blue {
		color: @imx-white;
		font-size: x-large;
		font-weight: bolder;
		text-align: center;
		z-index: 1;
		text-shadow: 2px 2px 2px @imx-black;
	}
}

.box-marketing {
	background-color: fade(@imx-black, 70%);
	&:hover {
		background-color: @imx-orange;
	}
	position: relative;
	&:after {
		content: '';
    display: block;
    position: absolute;
		background: url('../img/CreativeServices.jpg') no-repeat;
		background-size: cover;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		opacity: 0.3;
	}
	.btn-rippled-orange {
		color: @imx-white;
		font-size: x-large;
		font-weight: bolder;
		text-align: center;
		z-index: 1;
		text-shadow: 2px 2px 2px @imx-black;
	}
}

.input-cta {
	input {
		border: 2px solid @dark-blue;
		border-radius: 0 !important;
		height: 70px !important;
		&:focus {
	    border-color: @imx-blue;
	    outline: 0;
	    box-shadow: inset 0 1px 1px fade(@imx-black, 70%),0 0 8px fade(@dark-blue, 60%);
		}
	}
	.input-cta-btn {
		button {
			border: 2px solid @dark-blue;
			border-left: 0;
			border-radius: 0 !important;
			height: 70px !important;
			color: @dark-blue;
		}
	}
}

.intro { 
	background-color: @imx-white;
	&:nth-child(2) {
		padding-bottom: 100px;
	}
}
.ideologia {
	background-color: fade(@imx-black, 70%);
	position: relative;
	.BoxShadowHelper(2);
	.content-main {
		z-index: 1;
		position: relative;
		color: @imx-white;
	}
	&:after {
		content: '';
    display: block;
    position: absolute;
		background: url('../img/oficinaimx.jpg') no-repeat fixed;
		background-size: cover;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		opacity: 0.3;
	}
	min-height: 600px;
	padding: 100px 0 100px;
}
.trifuerza {
	 .BoxShadowHelper(2);
	 background-color: @imx-white;
	 padding-top: 150px;
	 padding-bottom: 50px;
}
.blog-area {
	margin-bottom: 50px;
	padding: 150px 0;
	> div:first-child {
		margin-bottom: 50px;
	}
}


.btn-more {
	background: transparent;
	border: 3px solid @imx-white;
	border-radius: 0;
	padding: 15px 30px;
	transition: all 0.3s ease-in-out;
	&:hover, &:focus, &:active {
		background: @imx-white;
	}
}

.btn-more-dark {
	background: @imx-white;
	border: 3px solid @dark-blue;
	color: @dark-blue;
	border-radius: 0;
	padding: 15px 30px;
	transition: all 0.3s ease-in-out;
	&:hover, &:focus, &:active {
		background: @dark-blue;
		color: @imx-white;
	}
}

.blog-item-home {
	margin-bottom: 50px;
	> div:first-child {
		background-color: @imx-white;
		border-bottom: 3px solid @imx-blue;
		padding-bottom: 20px;
		.BoxShadowHelper(2);
		overflow: hidden;
		&:hover, &:focus, &:active {
			.BoxShadowHelper(3);
			transform: translateY(-5px);
		}
	}
}

.autor-image-home {
	padding-right: 0;
}
.autor-area-home {
	padding-left: 5px;
	padding-top: 10px;
	p { float: left; }
}

footer {
	background-color: @dark-blue;
	padding: 50px 0;
	color: @imx-white;
}

.nav-footer {
	> li > a { 
		color: @imx-white;
		&:hover, &:active, &:focus {
			background-color: transparent;
			border-bottom: 2px solid @imx-white;
			border-radius: 0;
		}
	}
}


/////////////////////
// Services header //
/////////////////////
.main-banner {
	background-color: fade(@imx-black, 70%);
	position: relative;
	.BoxShadowHelper(2);
	min-height: 300px;
	padding: 100px 0 100px;
	.content-main {
		z-index: 1;
		position: relative;
		color: @imx-white;
	}
	&:after {
		content: '';
    display: block;
    position: absolute;
		background: url('../img/CreativeServices.jpg') no-repeat fixed;
		background-size: cover;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		opacity: 0.3;
	}
}

.main-banner.web {
	&:after {
		content: '';
    display: block;
    position: absolute;
		background: url('../img/codeimg.jpg') no-repeat fixed;
		background-size: cover;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		opacity: 0.3;
	}
}


.base-content {
	.BoxShadowHelper(2);
	background-color: @imx-white;
	padding: 50px 0;
	margin-top: 50px;
	margin-bottom: 50px;
}

.service-container {
	margin-bottom: 100px;
}

.col-content {
	.BoxShadowHelper(1);
	background-color: @imx-white;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 50px;
	img { margin: 0 auto; }
	h2 {
		margin-bottom: 20px;
		padding: 10px 0;
		min-height: 90px;
	}
	h2.marketing-service {
		border-bottom: 3px solid @imx-orange;
	}
	h2.business-service {
		border-bottom: 3px solid @imx-green;
	}
	h2.web-service {
		border-bottom: 3px solid @imx-blue;
	}
	&:hover, &:focus, &:active {
		.BoxShadowHelper(3);
	}
}


////////////////////
// Ripple Effects //
////////////////////
/// NOTE: Must have position: relative; overflow: hidden;
ul li {
	position: relative;
	overflow: hidden;
	a {
		position: relative;
	}
}

/*.ink styles - the elements which will create the ripple effect. The size and position of these elements will be set by the JS code. Initially these elements will be scaled down to 0% and later animated to large fading circles on user click.*/
.ink, .ink-green, .ink-blue, .ink-orange, .ink-white {
	display: block;
	position: absolute;
	border-radius: 100%;
	transform: scale(0);
}

.ink 				{ background: @dark-blue;  }
.ink-green	{ background: @imx-green;  }
.ink-blue		{ background: @imx-blue;   }
.ink-orange { background: @imx-orange; }
.ink-white	{ background: @imx-white;  }

/*animation effect*/
.ink.animate, .ink-green.animate, .ink-blue.animate, .ink-orange.animate, .ink-white.animate { animation: ripple 0.65s linear; }
@keyframes ripple {
	/*scale the element to 250% to safely cover the entire link and fade it out*/
	100% {
		opacity: 0;
		transform: scale(2.5);
	}
}



//////////////////
// Text Rotator //
//////////////////

.rw-sentence {
	margin: 0;
	text-align: left;
	padding: 100px 0 150px;
}
.rw-main {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}
.rw-sentence span {
	color: @dark-blue;
	font-size: 200%;
	font-weight: normal;
}
.rw-words {
	display: inline;
	text-indent: 25%;
	text-align: left;
	@media (min-width: 700px) {
		text-align: right;
	}
}
.rw-words-1 span {
	position: absolute;
	opacity: 0;
	overflow: hidden;
	color: @imx-green;
	text-align: left;
	@media (min-width: 700px) {
		text-align: right;
	}
	width: 100%;
	animation: rotateWord 27s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) { 
	animation-delay: 3s; 
	color: @imx-blue;
}
.rw-words-1 span:nth-child(3) { 
	animation-delay: 6s; 
	color: @imx-orange;	
}
.rw-words-1 span:nth-child(4) { 
	animation-delay: 9s; 
	color: @imx-green;	
}
.rw-words-1 span:nth-child(5) { 
	animation-delay: 12s; 
	color: @imx-blue;
}
.rw-words-1 span:nth-child(6) { 
	animation-delay: 15s; 
	color: @imx-orange;	
}
.rw-words-1 span:nth-child(7) { 
	animation-delay: 18s; 
	color: @dark-blue;	
}
.rw-words-1 span:nth-child(8) { 
	animation-delay: 21s; 
	color: @imx-green;	
}
.rw-words-1 span:nth-child(9) { 
	animation-delay: 24s; 
	color: @imx-blue;
}
.rw-words-1 span:nth-child(10) { 
	animation-delay: 27; 
	color: @imx-orange;	
}

@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; transform: translateY(-30px); }
	  5% { opacity: 1; transform: translateY(0px);}
   10% { opacity: 1; transform: translateY(0px); }
   14% { opacity: 0; transform: translateY(0px); }
	 20% { opacity: 0; transform: translateY(30px); }
	 80% { opacity: 0; }
  100% { opacity: 0; }
}
@media screen and (max-width: 768px) {
	.rw-sentence { font-size: 18px; }
}
@media screen and (max-width: 320px) {
	.rw-sentence { font-size: 9px; }
}


/////////////
// Shadows //
/////////////
.BoxShadowHelper(@level: 1) {
	& when (@level = 1) {
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	}
	& when (@level = 2) {
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	}
	& when (@level = 3) {
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	}
	& when (@level = 4) {
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
	& when (@level = 5) {
		box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	}
}